.header-wrapper {
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 2;
  padding: 5px 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 10px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 10px -6px;
}

.chats-body {
  padding: 10px 0px;
  padding-top: 80px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  background-image: url("../img/chat__bg.png");
  min-height: 500vh;
}

.chat__write-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 0 13px 10px rgba(63, 76, 107, 0.63);
  }
  25% {
    box-shadow: 0 0 13px 15px rgba(239, 107, 100, 0.5);
  }
  50% {
    box-shadow: 0 0 13px 10px rgba(63, 76, 107, 0.63);
  }
  75% {
    box-shadow: 0 0 13px 15px rgba(239, 107, 100, 0.5);
  }
  100% {
    box-shadow: 0 0 13px 10px rgba(63, 76, 107, 0.63);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 0 13px 10px rgba(63, 76, 107, 0.63);
  animation: float 4s linear infinite forwards;
}

.chat__icon-left {
  position: absolute;
  left: 20px;
}

.chat__icon-right {
  position: absolute;
  right: 20px;
}

.chat__icon-right i:first-child {
  padding-right: 5px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 13px 5px rgba(63, 76, 107, 0.63);
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.incoming-message {
  position: relative;
}

.incoming-message img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 15px;
}

.incoming-message .img-animate:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  border: 5px dashed #3f4c6b;
  top: -8px;
  left: -8px;
  border-radius: 50%;
}

.incoming-message .img-animate:before {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  font-weight: 600;
  color: white;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 13px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #bdc3c7, #7b8791);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #606c88, #3f4c6b);
}

@keyframes enterLeftBounce {
  0% {
    transform: translateX(-220px);
    opacity: 0;
  }
  50% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.incoming-message {
  opacity: 1;
  visibility: visible;
  animation: enterLeftBounce 1.2s linear forwards;
}

@keyframes enterRightBounce {
  0% {
    transform: translateX(220px);
    opacity: 0;
  }
  50% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sent-message {
  opacity: 1;
  visibility: visible;
  animation: enterRightBounce 1.2s linear forwards;
}
