.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.friend__content .friend__bottom-text,
.friend__content .friend__status {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status {
  font-size: 12px;
}

.friend .chat__timestamp {
  font-size: 12px;
  opacity: 0.6;
  display: block;
}

.friend__column .friend__now-listening {
  border: 2px solid #5aad77;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 12px;
  margin-left: 2px;
}

.friend__add-btn {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.friend.friend-hover:hover {
  transform: translateY(-10px);
  border: 2px solid rgba(63, 76, 107);
  box-shadow: 0 0 10px 5px rgba(63, 76, 107, 0.63);
  border-radius: 10px;
  padding: 8px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.friend.friend-hover:hover img {
  animation: flip 2s linear infinite;
}

@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.chats__list li {
  margin-bottom: 20px;
}

.friends__list li,
.find__recommended li {
  margin-bottom: 10px;
}

.chats__list .chat__badge {
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 3px;
}
