#side-bar {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  margin-top: 95px;
  transform: translateX(250px);
  transition: transform 0.2s linear;
  background: white;
  z-index: 6;
  opacity: 0;
}
.side-bar__lists {
  border-top: 2px solid #3f4c6b;
}
.side-bar__lists li {
  color: black;
  padding: 20px;
  border-bottom: 1px solid rgba(63, 76, 107, 0.3);
  font-weight: 600;
}
.side-bar__lists .side-bar__list {
  justify-content: space-between;
}
.side-bar__header {
  display: inline-block;
}
.side-bar__lists .side-bar__contents {
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
.side-bar__lists .side-bar__title {
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.side-bar__contents i,
.side-bar__title i {
  padding-right: 5px;
  font-size: 13px;
}

.side-bar__contents i:nth-child(2),
.side-bar__title i {
  opacity: 0.3;
}

input[type="checkbox"]:checked ~ #side-bar {
  transform: translateX(0);
  transition: transform 0.2s linear;
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}
.side-bar__toggle {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 17px;
  height: 25px;
  width: 25px;
}

.side-bar__nav {
  position: fixed;
  width: 200px;
  background-color: rgba(63, 76, 107, 0.2);
  padding: 20px;
  right: 0px;
  bottom: 90px;
  border-top: 1px solid rgba(63, 76, 107, 0.3);
}

.side-bar__nav .nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.side-bar__nav i {
  font-size: 18px;
  padding-left: 15px;
  cursor: pointer;
  color: rgba(63, 76, 107, 0.5);
}

.side-bar__nav i:hover {
  color: rgba(63, 76, 107, 0.8);
}
